.singlePost {
    flex: 9;
}

.singlePostWrapper {
    width: 1300px;
    height: 200px;
    padding: 20px;
    padding-right: 0;
}

.singlePostImg {
    width: 100%;
    height: 300%;
    border-radius: 5px;
    object-fit: cover;
}

.singlePostTitle {
    text-align: center;
    margin: 10px;
    font-family: 'Varela Round', sans-serif;
    font-size: 28px;
}

.singlePostEdit {
    float: right;
    font-size: 16px;
}

.singlePostIcon {
    margin-left: 15px;
    cursor: pointer;
}

.singlePostIcon:first-child{
    color: teal;
}

.singlePostIcon:last-child{
    color: tomato;
}

.singlePostInfo {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-family: 'Varela', sans-serif;
    font-size: 16px;
    color: #4e2f2f;
}

.singlePostDesc{
    color: rgb(53, 52, 52);
    font-size: 18px;
    line-height: 25px;
}

.singlePostDesc::first-letter{
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
}

.singlePostDate {
    font-family: 'Varela Round', sans-serif;
    font-style: italic;
    font-size: 13px;
    color: #999;
    margin-top: 15px;
}