.header {
    margin-top: 60px;
    background: rgb(255,200,133);
    background: radial-gradient(circle, rgba(255,200,133,0.5186275193671219) 100%, rgba(248,88,0,1) 100%);
    border-radius: 30px;
}

.headerTitleLg {
    display: flex;
    font-size: 30px;
    flex-direction: column;
    align-items: center;
    font-family: 'Varela Round', sans-serif;
    color: #444;
    top: 20px;
}

.headerTitleSm {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 18%;
    font-family: 'Varela Round', sans-serif;
    font-size: 19.5px;
}

